/* ProductList.css */
.no-products {
  text-align: center;
  padding: 2rem;
  color: #666;
}

.error-message {
  color: red;
  text-align: center;
  padding: 2rem;
}

.product-list-producticon {
  width: 80px;
  height: 80px;
  object-fit: contain;
}